@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100vh;
    width: 100vw;
  }

  h1 {
    color: theme(colors.black);
    font-weight: theme(fontWeight.bold);
    font-size: theme(fontSize.2xl)
  }

  p {
    font-weight: theme(fontWeight.medium);
    color: theme(colors.black);
  }

  section {
    padding: theme(padding.5) 0 theme(padding.5) 0;
  }

}

@layer components {
  .nav-link {
    font-size: theme(fontSize.xl)
  }
  .action-button {
    background-color: theme(colors.lightblack);
    color: theme(colors.offwhite);
    padding: theme(padding.2) theme(padding.8) theme(padding.2) theme(padding.8);
    border-radius: theme(borderRadius.md);
  }
}
